#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

pre {
  background: #1b1c5c;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; /* Cria barra de rolagem se o código for longo */
  font-family: monospace;
}

/* Seção de teste prático */
.practice-box {
  border: 1px dashed #3880ff;
  padding: 15px;
  border-radius: 12px;
  background: #f9f9f9;
}

.practice-title {
  color: #000000;
}

.transparent-item {
  --background: transparent;
}

.transparent-item ion-label {
  color: #000000;
  font-weight: 500;
}

.empty-message {
  text-align: center;
  color: #000000;
}
